@media (max-width: 1024px) {
    .header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .promo {
        &__wrapper {
            margin-right: 10px;
        }
    }
    .advantages {
        &__wrapper {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .title {
        &_left {
            margin-left: 10px;
        }
    }
    .consultation {
        &__descr {
            margin-left: 10px;
        }
    }
    .feed-form {
        margin-left: 10px;
    }
}
@media (max-width: 768px) {
    .header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .promo {
        &__wrapper {
            margin-right: 10px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 25px;
    }
    .catalog {
        &-item {
            margin-right: 0;
        }
        &__content {
            justify-content: space-around;
        }
        &__tab {
            width: 180px;
            font-size: 14px;
        }
        &__tabs {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .reviews {
        &__text {
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
        }
        &__item {
            margin-right: 10px;
            margin-left: 10px;
            display: block;
            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
    .footer {
        &__info {
            width: 380px;
            height: 190px; 
       }
       &__address {
            font-size: 14px;
            margin-bottom: 18px;
       }
        &__phone {
           font-size: 14px;
           margin-bottom: 18px;
       }
       &__social-item {
           width: 38px;
           height: 38px;
           img {
                height: 15px;
           }
           }
       }
    .modal {
        &__close {
            right: -25px;
            font-size: 30px;
        }
    }
    .pageup {
        bottom: 20px;
        right: 20px;
    }
}
.carousel {
    padding: 50px 0;
    &__inner {
        max-width: 100%;
    }
}
@media (max-width: 426px) {
    .header {
        &__official {
            span {
                font-size: 11px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__wrapper {
            margin-right: 0px;
        }
        &__header {
            font-size: 33px;
            margin-right: 7px;
        }
        &__subheader {
            font-size: 19px;
            margin-right: 7px;
        }
        &__icons {
            justify-content: space-around;
        }
        &__link {
            margin-right: 100px;
        }
    .button {
        &_main {
            margin: 0 auto;
            margin-top: 30px;
            margin-left: 60px;
        }
    }
    }
    .consultation {
        padding-top: 60px;
        &__descr {
            margin-left: 0;
        }
    }
    .title {
        &_left {
            margin-left: 0;
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            max-width: 100%;
        }
    }
    .catalog {
        &-item {
            margin-right: 0px;
        }
        &__tab {
            width: 118px;
            font-size: 12px;
        }
        &__tabs {
            margin-top: 30px;
        }
    }
    .footer {
        &__info {
            width: 290px;
            height: 135px; 
            padding-top: 10px;
       }
       &__address {
            font-size: 11px;
            margin-bottom: 11px;
       }
        &__phone {
           font-size: 11px;
           margin-bottom: 11px;
       }
       &__social-item {
           width: 38px;
           height: 25px;
           img {
                height: 10px;
           }
           }
       }
       .modal {
        width: 315px;
        &__subtitle {
            font-size: 14px;
            line-height: 15px;
        }
        &__descr {
            font-size: 13px;
        }
        &__close {
            font-size: 25px;
            right: -25px;
        }
       }
    .feed-form {
        &_mt25 {
        width: 225px;
         input {
            font-size: 12px;
            height: 45px;
        }
        }
       }
    .pageup {
        bottom: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 376px) {
    .header {
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 115px;
        font-size: 10px;
    }
    .promo {
        &__wrapper {
            margin-top: 25px;
            align-items: center;
        }
        &__header {
            font-size: 29px;
            margin: 0;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &__link {
            margin: 0;
            margin-top: 10px;
        }
    }
    .button {
        &_main {
            width: 253px;
            font-size: 13px;
        }
        &_submit {
            width: 300px;
        }
    }
    .catalog {
        &__tab {
            width: 88px;
            height: 45px;
            line-height: 42px;
            font-size: 9px;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .title {
        font-size: 24px;
    }
    .footer {
        &__info {
            width: 205px;
            height: 89px; 
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
       }
       &__address {
            font-size: 10px;
            margin-bottom: 1px;
       }
       &__social-item {
        width: 17px;
        height: 15px;
           img {
                height: 9px;
           }
           }
       }
    .modal {
        width: 300px;
        &__close {
            font-size: 25px;
            right: -25px;
        }
        &__subtitle {
            font-size: 13px;
        }
       }
    .feed-form {
        &_mt25 {
        width: 220px;
         input {
            font-size: 12px;
            height: 45px;
        }
        }
        .button {
            &_modal {
                width: 220px;
            }
        }
       }
}
@media (max-width: 321px) {
    .header {
        flex-direction: column;
        &__official {
            font-size: 15px;
            margin-top: 5px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 14px;
            margin-top: 5px;
        }
        .button {
            width: 125px;
        }
    }
    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 13px;
            margin: 0;
        }
        &__wrapper {
            margin-right: 0;
        }
        &__icons {
            margin-top: 30px;
        }
        &__icon {
            margin-top: 10px;
            img {
                margin: 0 auto;
            }
        }
        .button {
            &_main {
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }
    .advantages {
        padding-top: 50px;
        padding-bottom: 40px;
        &__item {
            margin-bottom: 15px;
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .title {
        &_left {
            margin: 0 5px 0 5px;
            font-size: 35px;
        }
    }
    .consultation {
        &_descr {
            margin: 0 5px 0 5px;
            font-size: 19px;
        }
    }
    .button {
        &_submit {
            font-size: 15px;
        }
    }
    .modal {
        padding-top: 20px;
        min-height: 295px;
        width: 255px;
        &__subtitle {
            font-size: 13px;
            line-height: 15px;
        }
        &__descr {
            font-size: 12px;
        }
        &__close {
            font-size: 25px;
            right: -25px;
        }
       }
    .feed-form {
        &_mt25 {
        width: 170px;
         input {
            font-size: 12px;
            height: 30px;
        }
        }
        .button {
            &_modal {
                width: 170px;
                font-size: 9px;
                height: 35px;
            }
        }
       }
}